.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  font-size: 11px;
}

table {
  width: 100%;
  table-layout: fixed;
  word-break: break-all;
}

div {
  max-width: 100%;
  text-align: center;
}

th {
  text-align: center;
}

table, th, td {
  border: 1px solid black;
}

img { 
  max-width: 25%; 
  height: auto; 
}

button {
  margin: 4px;
}

#code-block {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
  white-space: nowrap;
}

#profilePictureDiv {
  text-align: center;
}

#profileImageDiv {
  height: 100px;
  width: 100px;
}

#statusMessage {
  position: relative;
  top: 40px;
}

.textLeft {
  text-align: left;
}

.buttonGroup {
  padding-top: 20px;
}

.hidden {
  display: none;
}
