@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

.intro-section {
  position: relative;
  background-color: #EF9B90;
  padding: 40px 30px;
  color: white;
  font-size: 1.3em;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
}

.add-assistant-section {
 background-color: white;
}

.liffLoginButton {
 padding: 10px 30px;
 background-color: #EF9B90;
 border-radius: 25px;
 border: 2px solid white;
 color: white;
 font-size: 1.3em;
 font-weight: bold;
}

.liffLoginButton:hover {
  background-color: #fff;
  border-color: #EF9B90;
  color: #EF9B90;
  cursor: pointer;
}

html {
  font-size: 11px;
}

table {
  width: 100%;
  table-layout: fixed;
  word-break: break-all;
}

div {
  max-width: 100%;
  text-align: center;
}

th {
  text-align: center;
}

table, th, td {
  border: 1px solid black;
}

img {
  max-width: 25%;
  height: auto;
}

button {
  margin: 4px;
}

#code-block {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
  white-space: nowrap;
}

#profilePictureDiv {
  text-align: center;
}

#profileImageDiv {
  height: 100px;
  width: 100px;
}

#statusMessage {
  position: relative;
  top: 40px;
}

.textLeft {
  text-align: left;
}

.buttonGroup {
  padding-top: 20px;
}

.hidden {
  display: none;
}

.phone_pic{
  width: 13%;
}

.qrcode {
  width: 18%;
  transform: translateY(-10%);
}

img {
  margin-bottom: 20px;
}

#title {
  font-size: 4em;
  font-family: 'Baloo Chettan 2', cursive;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 100px;
}

p {
  font-size: 2em;
  font-weight: bold;
}

#hooter {
  background-color: black;
  margin-top: 50px;
  padding-top: 10px;
  color: white;
  font-size: 1.6em;
  height: 30px;
  text-align: center;
}

/* Big table to 1200px(width smaller than the 1140px row */
@media only screen and (max-width: 1200px){

}

/*Small tablet to big tablet from: 768px - 1023px*/

@media only screen and (max-width: 1023px){

}

/*Small phones to small tablet from: 481px - 767px*/

@media only screen and (max-width: 767px){

}

/*Small phones from :0 - 480px*/

@media only screen and (max-width: 480px){

  #icon{
    max-width: 40%;
    /* margin-top: -10px; */
    position: absolute;
    top:5%;
    right:32%;

  }

  .title-wrapper{
    display: inline-block;
    padding-top:70px;
    padding-right:66px ;
    /* text-align: center; */
  }

  .marketInfo{
    font-size: 25px;
  }
  
  .market-subInfo{
    font-size: 18px;
  }
  #title {
    font-size: 4em;
    font-family: 'Baloo Chettan 2', cursive;
    width: 100px;
  }

  .phone_pic{
    width: 25%;
  }
  
  .qrcode {
    width: 25%;
    transform: translate(10% ,-30%);
  }
}